@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	color-scheme: dark;
}

body {
	min-height: 100vh;
	font-family: "Lato", Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol,
li {
	list-style: none;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

img {
	vertical-align: top;
}

input,
textarea,
button,
select {
	font: inherit;
}

button,
input {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
	background-color: inherit;
}
